
@model IEnumerable<AWS_ElasticBeanstalk_Project.Models.Comment>
@{
    ViewData["Title"] = "Index";
    var userId = ViewData["userId"].ToString();
    var videoId = ViewData["videoId"].ToString();
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    @Html.ActionLink("Create New", "Create", "Comments", new { videoId = @videoId, userId = @userId }) |
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CommentId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CommentContent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CommentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommentContent)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
